.screenContainer {
    min-height: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.rowContainer {
    display: flex;
    flex-basis: auto;
    align-items: stretch;
    flex-direction: row;
    height: 100%;
}

.itemContainer {
    flex-direction: column;
    background-color: white;
    display: flex;
    flex-grow: 1;
}